In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("austinreese/craigslist-carstrucks-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.12).
Downloading from https://www.kaggle.com/api/v1/datasets/download/austinreese/craigslist-carstrucks-data?dataset_version_number=10...

100%|██████████| 262M/262M [02:09<00:00, 2.13MB/s]

Extracting files...

Path to dataset files: C:\Users\randy\.cache\kagglehub\datasets\austinreese\craigslist-carstrucks-data\versions\10

In [6]:
#Personal Path
path = "C:/Users/randy/.cache/kagglehub/datasets/austinreese/craigslist-carstrucks-data/versions/10"

In [7]:
import os 

files = os.listdir(path)
print("files in the dataset:")
for file in files:
    print(file)

files in the dataset:
vehicles.csv

In [8]:
import pandas as pd
import numpy as np

In [9]:
vehicles_dataset = pd.read_csv(f"{path}/vehicles.csv")

In [12]:
vehicles_dataset.head(10)

           id  ... posting_date
0  7222695916  ...          NaN
1  7218891961  ...          NaN
2  7221797935  ...          NaN
3  7222270760  ...          NaN
4  7210384030  ...          NaN
5  7222379453  ...          NaN
6  7221952215  ...          NaN
7  7220195662  ...          NaN
8  7209064557  ...          NaN
9  7219485069  ...          NaN

[10 rows x 26 columns]

In [11]:
vehicles_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [19]:
print("Dataset shape:", vehicles_dataset.shape)

Dataset shape: (426880, 26)

In [13]:
vehicles_dataset.describe()

                 id         price  ...            lat           long
count  4.268800e+05  4.268800e+05  ...  420331.000000  420331.000000
mean   7.311487e+09  7.519903e+04  ...      38.493940     -94.748599
std    4.473170e+06  1.218228e+07  ...       5.841533      18.365462
min    7.207408e+09  0.000000e+00  ...     -84.122245    -159.827728
25%    7.308143e+09  5.900000e+03  ...      34.601900    -111.939847
50%    7.312621e+09  1.395000e+04  ...      39.150100     -88.432600
75%    7.315254e+09  2.648575e+04  ...      42.398900     -80.832039
max    7.317101e+09  3.736929e+09  ...      82.390818     173.885502

[8 rows x 7 columns]

In [17]:
vehicles_dataset.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64